name: iOS CI

on:
  pull_request:
  push:
    branches:
      - main
      - develop
      - "test/**"

jobs:
  build-test:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      # Ruby 설치 (Bundler + Fastlane)
      - name: Install Dependencies
        run: |
          gem install bundler
          gem install fastlane

      # Tuist 설치
      - name: Install Tuist
        run: |
          curl -Ls https://get.tuist.io | bash
          echo "$HOME/.tuist/bin" >> $GITHUB_PATH
          echo "$HOME/.local/share/tuist/bin" >> $GITHUB_PATH
          echo "$HOME/.cache/tuist/bin" >> $GITHUB_PATH

      # Tuist 동작 확인
      - name: Verify Tuist
        run: tuist version

      # 프로젝트 생성
      - name: Generate Project
        run: tuist generate --no-open

      # Test
      - name: Run Tests (Fastlane)
        run: fastlane test_ci

      # Build
      - name: Run Build (Fastlane)
        run: fastlane build_ci
