name: iOS CI

on:
  pull_request:
  push:
    branches: [ main, develop, test/* ]

jobs:
  build-test:
    runs-on: macos-14

    steps:
      # 1. Checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Install Bundler (Ruby dependencies)
      - name: Install Bundler
        run: gem install bundler

      # 3. Install Fastlane
      - name: Install Fastlane
        run: gem install fastlane

      # 5. Tuist 공식 액션 사용
      - name: Install Tuist
        uses: tuist/github-action@v1

      # 6. Verify Tuist installation
      - name: Verify Tuist installation
        run: tuist version

      # 7. Generate Xcode project
      - name: Generate project
        run: tuist generate --no-open

      # 8. Run Tests
      - name: Run Tests (Fastlane)
        run: fastlane test_ci

      # 9. Build App
      - name: Run Build (Fastlane)
        run: fastlane build_ci
