name: iOS CI

on:
  push:
    branches: [ main, develop, test/* ]
  pull_request:

jobs:
  build-test:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          gem install bundler
          gem install fastlane

      - name: Install Tuist
        run: |
          curl -Ls https://get.tuist.io | bash

      - name: Add Tuist to PATH
        run: |
          echo "$HOME/.tuist/bin" >> $GITHUB_PATH
          echo "$HOME/.local/share/tuist/bin" >> $GITHUB_PATH
          echo "$HOME/.cache/tuist/bin" >> $GITHUB_PATH

      - name: Generate Project
        run: |
          tuist generate --no-open

      - name: Run Tests (Fastlane)
        run: |
          fastlane test_ci

      - name: Run Build (Fastlane)
        run: |
          fastlane build_ci
