name: iOS CI

on:
  pull_request:
  push:
    branches: [ main, develop, test/** ]

jobs:
  build-test:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      # 1) Install dependencies (Fastlane)
      - name: Install Dependencies
        run: |
          gem install bundler
          bundle install

      # 2) Install Tuist via Homebrew (가장 안정적!!)
      - name: Install Tuist (via Homebrew)
        run: |
          brew tap tuist/tuist
          brew install tuist

      # 3) Verify Tuist installation
#      - name: Verify Tuist
#        run: tuist version

      # 4) Generate Xcode project via Tuist
      - name: Generate Project
        run: tuist generate --no-open

      # 5) Run tests
      - name: Run Tests (Fastlane)
        run: fastlane test_ci

      # 6) Run build
      - name: Run Build (Fastlane)
        run: fastlane build_ci
